button{
  padding:1rem;
  border-radius: 10px;
  color: white;
  border:none;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  font-family: "Poppins";
}

button:hover{
  box-shadow: 2px 4px 15px rgba(0,0,0,0.5);
}
button:active{
  transform:scale(0.9);
}

h1{
  font-family: "Poppins";
}