
.addTask{
  padding:5rem;
  border: 5px black solid;
  border-radius:30px;
  display:block;
  justify-content: center;
  gap: 2rem;
  width:40vw;
  margin-left: 23vw;
  margin-bottom:3rem;;
}
.addTask input{
  padding:1rem;
  width:20rem;
  border-radius: 10px;
  border:1px solid;
  font-size: medium;
  font-size: 18px;
  margin-bottom: 2rem;
}
.list{
  padding: 5rem;
    border: 5px black solid;
    border-radius: 30px;
    width:80%;
  
}
.list div{
  display:flex;
  justify-content: space-between;
}
.addTask button{
  background-color: blue;
  color:white;
  padding:1px 4rem;
  margin:1rem;
  border-radius: 20px;
}
.list button{
     background-color: red;
     color:white;
     padding:1px 4rem;
     margin:1rem;
     border-radius: 20px;
}